body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vh;
    background-color: #5dc5da;
background-image: linear-gradient(19deg, #5dc5da 0%, #71688e 100%);

}

.slider-container {
    height: 500px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container {
    display: flex;
    width: 500%;
    height: 100%;
}

.navigation {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid rgba(255, 255, 255, 0.688);
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.8s;
    text-decoration: none;
}

.bar:hover {
    background: rgba(245, 245, 245, 0.581);
}

input {
    display: none;
}

.slide {
    width: 20%;
    transition: 0.6s;
    display: flex;

}

.slide img {
    width: 100%;
    height: 100%;
}

#slide:checked~.s1 {
    margin-left: 0%;
}

#slide2:checked~.s1 {
    margin-left: -20%;
}

#slide3:checked~.s1 {
    margin-left: -40%;
}

#slide4:checked~.s1 {
    margin-left: -60%;
}

#slide5:checked~.s1 {
    margin-left: -80%;
}