* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
}

.gallery-whapper {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: white;
    cursor: pointer;
    border: none;
    opacity: 0.1;
    background: linear-gradient(to left, transparent 0%, black 200%);
}

.arrow-right {
    left: auto;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: 1;
}

.item {
    width: 600px;
    height: 600px;
    flex-shrink: 0;
    opacity: 0.7;
    transition: all 600ms ease-in-out;
}

.current-Item {
    opacity: 1;
}